body {background-color: black;}

img {
  width: 100%;
  height: auto;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.image-descrip {
  color: purple;
}
